<%- include partials/head %>
<%- include partials/header %>

<section id="page-breadcrumb">
  <div class="vertical-center sun">
    <div class="container">
      <div class="row">
        <div class="action">
          <div class="col-sm-12">
            <h1 class="title">About Us</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#page-breadcrumb-->

<section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <img src="images/aboutus/5.png" class="margin-bottom" alt="">
        <h1 class="margin-bottom">About GiftCardX</h1>
        <p>We're a company based in Nigeria's Capital city, focused on providing financial exchange services to 
          our clients both locally and internationally.
          Our experience in areas such as lending, bitcoin and digital asset exchange, and money transfer services 
          spans over 7 years. Our Gift Cards are sourced from North America &amp; Europe<br/>
          We're a highly focused team of developers and managers with a passion for solving problems through Technology.</p>
      </div>
    </div>
  </div>
</section>
<!--/#about-company-->

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
            <img src="images/home/icon1.png" alt="">
          </div>
          <h2>Client First</h2>
          <p>High Customer empathy and awareness means we always listen to our clients' needs and requirements</p>
        </div>
      </div>
      <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
            <img src="images/home/icon2.png" alt="">
          </div>
          <h2>Dedication</h2>
          <p>We're highly dedicated to the job at hand because we <i style="color: red" class="fa fa-heart"></i> what we do</p>
        </div>
      </div>
      <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
            <img src="images/home/icon3.png" alt="">
          </div>
          <h2>Professionalism</h2>
          <p>We believe in being professional at all times in delivering value to our Loyal Clients</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#services-->

<%- include partials/usercount %>

<section id="company-information" class="padding-top">
  <div class="container">
    <div class="row">
      <div class="about-us">
        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2 class="bold">About WhyTech</h2>
          <div class="row">
            <div class="col-sm-5">
              <img src="images/aboutus/6.png" class="img-responsive" alt="">
            </div>
            <div class="col-sm-7">
              <br>
              <h3 class="top-zero">Who we are</h3>
              <p>WhyTech is a Modern Technology company in Nigeria that creates bespoke software solutions and web applications.<br> <br> 
              Our Team is comprised of professional web and software developers, DevOps specialists, communication experts, financial managers,
              accountants and marketers. <br>
              WhyTech Nigeria is the parent company of GiftCardX <br></p>
            </div>
          </div>
        </div>
        <div class="col-sm-5 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="our-skills">
            <h2 class="bold">Our Skills</h2>
            <div class="single-skill">
              <h3>Financial Services</h3>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" data-transition="90">90%</div>
              </div>
            </div>
            <div class="single-skill">
              <h3>Frontend Design</h3>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" data-transition="70">70%</div>
              </div>
            </div>
            <div class="single-skill">
              <h3>Backend Development</h3>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" data-transition="85">85%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#company-information-->

<%- include partials/footer %>
<%- include partials/foot %>