<%- include partials/head %>
<%- include partials/header %>

<section id="home-slider">
  <div class="container">
    <div class="row">
      <div class="main-slider">
        <div class="slide-text">
          <h1>Get the Best Value for your Cards</h1>
          <p>Sell iTunes, Amazon, eBay, Apple, Steam, Starbucks and many more Gift Cards at the best prices 
            and get Cash deposited to your bank account or Digital Wallet (Bitcoin, Ethereum, Paypal) instantly. <br>
            Buy an assortment of your favorite brand Gift Cards at great prices for Friends & Family.
          </p>
          <a href="/signup" class="btn btn-common">SIGN UP</a>
        </div>
        <img src="images/home/slider/hill.png" class="slider-hill" alt="slider image">
        <img src="images/home/slider/house.png" class="slider-house" alt="slider image">
        <img src="images/home/slider/sun.png" class="slider-sun" alt="slider image">
        <img src="images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
        <img src="images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
      </div>
    </div>
  </div>
  <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>
<!--/#home-slider-->

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
            <img src="images/home/icon1.png" alt="">
          </div>
          <h2>Incredibly Fast</h2>
          <p>Start a Trade and receive money in your account within 30 minutes on successful transactions.
            You don't even need to <a href="/signup">Sign Up</a> for an account before trading!
          </p>
        </div>
      </div>
      <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
            <img src="images/home/icon2.png" alt="">
          </div>
          <h2>Multiple Options</h2>
          <p>Don't like fiat? Prefer Anonymity? We offer multiple options to redeem and pay for your Gift Cards including 
            Bitcoin, Ethereum, Paypal, Prepaid cards etc.
          </p>
        </div>
      </div>
      <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
            <img src="images/home/icon3.png" alt="">
          </div>
          <h2>Responsive Support</h2>
          <p>If you have a Question about how to Sell or Buy gift cards on this site, or just wanna know anything really,
            our Live Support is always willing to listen to you and is available 24/7 <i class="fa fa-smile-o"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#services-->

<section id="action" class="responsive">
  <div class="vertical-center">
    <div class="container">
      <div class="row">
        <div class="action take-tour">
          <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
            <h1 class="title">Got Cards?</h1>
            <p>We got Cash! Turn those cards to cash or buy one for yourelf or for friends, Fast.</p>
          </div>
          <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
            <div class="tour-button">
              <a href="#" class="btn btn-common">BUY/SELL</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#action-->

<section id="features">
  <div class="container">
    <div class="row">
      <div class="single-features">
        <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
          <img src="images/home/image1.png" class="img-responsive" alt="">
        </div>
        <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
          <h2>iTunes Gift Card</h2>
          <P>iTunes Gift Cards are easy to give, and you can buy them on GiftCardX in a variety of denominations.
            You can also sell your own cards for cash. Please note that we only accept physically purchased cards and not digital codes.
            A clear picture or scan of the card with the visible code will do.
          </P>
        </div>
      </div>
      <div class="single-features">
        <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
          <h2>Amazon Gift Card</h2>
          <P>Shop at your favorite Amazon store Locally and Internationally with Amazon Gift Cards. 
            You can also sell physically purchased cards for cash by uploading an image of the Card.
            Image of the purchase receipt may also be required.
          </P>
        </div>
        <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
          <img src="images/home/image2.png" class="img-responsive" alt="">
        </div>
      </div>
      <div class="single-features">
        <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
          <img src="images/home/image3.png" class="img-responsive" alt="">
        </div>
        <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
          <h2>...Many More</h2>
          <P>GiftCardX will keep supporting the exchange of more Gift Cards over time, 
            including your favorite games and online stores such as Steam and Ebay. 
            Don't forget to tell us the cards you'd like to see on our site so we can serve you better.
          </P>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#features-->

<section id="clients">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
          <p><img src="images/home/clients.png" class="img-responsive" alt=""></p>
          <h1 class="title">Happy Clients</h1>
          <p>Our clients come first and we strive to keep them Happy. <br>
            Drop us a message with the form at the bottom of this page.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#clients-->
<%- include partials/usercount %>

<%- include partials/footer %>
<%- include partials/foot %>